:root {
    --line-height-lg: 1.625;
    --letter-spacing: 0.1em;
    --font-family: "Roboto", sans-serif;
    --font-size: 16px;
    --color-gray-light: #eeeff1;
    --color-black: #000000;
    --color-white: white;
    --color-secondary: #727272;
    --color-primary: #34547a;
    --gap: 20px;
    --container-primary: 1110px;
    --container-small: 540px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: 400;
}

a {
    text-decoration: none;
}

.container {
    width: min(100% - 40px, var(--container-primary));
    margin-inline: auto;
}

.header {
    background-color: var(--color-gray-light);
    padding-top: 80px;
    padding-bottom: 140px;
}


.navbar {
    margin-bottom: 162px;
}

.navbar__list {
    list-style: none;
    display: flex;
    gap: 42px;
}

.navbar__item {}

.navbar__link {
    font-style: normal;
    line-height: 26px;
    letter-spacing: var(--letter-spacing);
    color: var(--color-black);
}

.navbar__link--active {
    font-weight: 500;
    color: #34547a;
}

.content {
    max-width: var(--container-small);
}

.content__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin: 0 0 60px;
}

.content_discription {
    line-height: 26px;
    color: var(--color-secondary);
    margin-bottom: 65px;
}

.content__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    width: 225px;
    min-height: 65px;
    background-color: var(--color-primary);
    color: var(--color-white);
}